/* ページ全体 */

body {
  background-color: #020c16;
}

/** ヘッダー */

.header__container {
  background-color: #020c16;
  display: flex;
  justify-content: space-between;
}

.header__nav {
  width: 200px;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
}

.nav-item {
}
a {
  text-decoration: none;
  color: chartreuse;
}
h1 {
  color: chartreuse;
}
p {
  color: white;
}

/* メンバー */
.member-section {
  background-color: white;
}
.member-section .members {
  background-color: white;
}

h2 {
  margin: 20px;
  color: aquamarine;
}
.members {
  padding-bottom: 10px;
  display: flex;
}

.member {
  background-color: #020c16;
  padding: 20px;
  width: 10.3%;
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
}

.member__image img {
  width: 200px;
}

.member__name {
  color: white;
}
h3 {
  color: aquamarine;
}

/* ゲーム */

/* お問い合わせ */
