/* ページ全体 */

body {
  background-color: #020c16;
}

h3 h2 {
  margin: 0;
}

/** ヘッダー */

.header__container {
  background-color: #020c16;
  display: flex;
  justify-content: space-between;
}

.header__nav {
  width: 200px;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
}

.nav-item {
}
a {
  text-decoration: none;
  color: chartreuse;
}
h1 {
  color: chartreuse;
}
p {
  color: white;
}

/* メンバー */
.member-section {
  background-color: white;
}
.member-section .members {
  background-color: white;
}

h2 {
  color: aquamarine;
  font-size: 200%;
}
.members {
  padding-bottom: 1px;
  display: flex;
  flex-wrap: wrap;
}

.member {
  background-color: #020c16;
  padding-top: 25px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 0px;
  width: 13.3%;
  margin: 37px;
  display: flex;
  flex-wrap: wrap;
}

.member__image img {
  width: 250px;
}

.member__name {
  color: white;
  margin-left: 22%;
  display: flex;
  justify-content: space-between;
  font-size: 170%;
}

/* ゲーム */
.game-section {
  background-color: rgb(9, 9, 22);
}
.game-section .games {
  background-color: rgb(9, 9, 22);
}
h3 {
  color: aquamarine;
  font-size: 170%;
}
.games {
  padding-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
}
.game {
  background-color: rgb(238, 215, 219);
  padding-top: 25px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 0px;
  width: 13.3%;
  margin-left: 130px;
  margin-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
}
.game__name {
  color: black;
  margin-left: 33%;
  display: flex;
  justify-content: space-around;
  font-size: 170%;
}

/* お問い合わせ */
.contact-section {
  background-color: pink;
  padding-left: 80px;
}

.section-title {
  margin: 0;
}
@media screen and (min-width: 480px) {
  /*　画面サイズが480pxからはここを読み込む　*/
}
