/* ページ全体 */

body {
  background-color: #020c16;
}

/** ヘッダー */

.header__container {
  background-color: #020c16;
  display: flex;
  justify-content: space-between;
}

.header__nav {
  width: 200px;
  display:flex ;  
 align-items: flex-end;
 justify-content: space-around;
}

.nav-item {

}
a{
  text-decoration: none;
  color: chartreuse;
}
h1{color:chartreuse}
p{color:white}

/* メンバー */
.member-section .members {
}
h2{color:white}

.member {
}

.member__image img {
}

.member__name {
}
h3{color:pink}

/* ゲーム */

/* お問い合わせ */
